
body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
min-height: 100vh;
  display: flex;
  flex-direction: column
}

header {
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li a {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    transition: background-color 0.3s;
}

nav li a:hover {
    background-color: #555;
    color: #fff;
}

/* Add some animation */
nav li a {
    position: relative;
}

nav li a::before,
nav li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.3s;
}

nav li a::before {
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
}

nav li a::after {
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
}

nav li a:hover::before {
    transform: scaleX(1);
}

nav li a:hover::after {
    transform: scaleX(1);
}
    padding: 20px;
    text-align: center;
}

.featured-sneaker {
display: flex;
justify-content: center;
align-items: center;
padding-bottom:  15px;
background-color: #fff;
}

.featured-sneaker img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}

.sneaker-details {
    max-width: 40%;
}

h1,h2 {
    color: #010101;
} 

p {
color: #010101;
}

.cta-button {

    display: inline-block;
    background-color: #010101;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.cta-button:hover {
background-color: #007bff;
}
/*---------home.html----------*/
header{
  color: #fff;
  padding: 20px;
  text-align: center;
}
.featured-sneaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  }
  
  .sneaker-img {
      max-width: 100%;
      height: auto;
     
  }
  
  .sneaker-details {
      max-width: 600px;
      text-align: center;
      margin-top: 20px ;
  }
  
  h1,h2 {
      color: #010101;
  } 
  
  p {
  color:#010101;

  }
  


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav li a {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  background-color: black;
  border-radius: 20px;
  transition: background-color 0.3s;
}

nav li a:hover {
  background-color:#007bff;
  color: #fff;
}

/* Add some animation */
nav li a {
  position: relative;
}

nav li a::before,
nav li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 0.3s;
}

nav li a::before {
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
}

nav li a::after {
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
}

nav li a:hover::before {
  transform: scaleX(1);
}

nav li a:hover::after {
  transform: scaleX(1);
}

footer{
  background-color:#010101;
   color: #fff;
   text-align: center;
   padding: 10px;
   max-width: 100%;
}

.social-links {
 margin-top: 20px;

}
.social-links a {
 display: inline-block;
 margin-right: 20px;
 color: #fff;
 text-decoration:none;
 ;
 
}

.social-links a:hover {
 color: #007bff;
}
/*-------about.html-------*/
header{
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

header h1{
  margin: 0;
}
.about-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #f4f4f4;
}
.about text, .about-image{
  flex: 1;
  margin: 10px;
}
.about-text{
  max-width: 600px;
}
.about-image {
  max-width:20;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3rem;
}

/*-----signup.html------*/
.form-box {
  max-width: 300px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
  align-self: center;
  width: 25rem;
  margin-bottom:5rem ;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
 
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1rem;
  color: #010101;
}

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 .5rem;
  width: 100%;

}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
 
}

.form-section {
  padding: 16px;
  font-size: .85rem;
  background-color: #e0ecfb;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  
}

.form-section a {
  font-weight: bold;
  color:#010101;
  transition: color .3s ease;
}

.form-section a:hover {
  color:#007bff ;
  text-decoration: underline;
}

/*Button*/
.form button {
  background-color:black;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form button:hover {
  background-color:#007bff;
}

  

  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

/*------Shop.html-------*/
 
.active {
    background-color: #007bff;
}
h2{
    text-align: center;
}

.product {
    margin-bottom: 20px;
    text-align: center;
   }

   .product img{
    width: 50%;
    height: auto;
   }

   .add-to-cart-btn {
   background-color: #010101;
   color: #fff;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   }

   .add-to-cart-btn:hover {
    background-color: #007bff;
}

     /*Contact form styles*/
     .contact-form {
        padding: 40px;
        background-color: #fff;
        align-items: center;
    }
    h1{
      text-align: center;
      color: #010101;
    }
  
    .contact-form h2{
        color:#010101;
        margin-bottom: 20px;
    }
    .contact-form form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-form label {
        color: #010101;
        font-weight: bold;
    
    }
    .contact-form input, 
    .contact-form textarea {
        width: 100%;
        padding: 10px;
        margin: 8 px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

    }

    .contact-form button{
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .contact-form button:hover {
        background-color: #0056b3;
    }
    /*Map Section*/
    .map {
        padding: 50px;
        background-color: #f4f4f4;
        text-align: center;
    }
    .map h2{
        color:#010101;
        margin-bottom: 20px;
    }

    .map iframe {
        width: 100%;
        max-width: 600px;
        height: 450px;
        border: 0;
        margin: 0 auto;
        display: block;
    }
    
 
/*Responsive design */

@media (max-width:768px) {
.featured-sneaker{
    flex-direction: column;
    text-align: center;

    }


.featured-sneaker img {
    max-width: 80%;
    margin-bottom: 20px;
}

.sneaker-details{
    max-width: 80%;
}

}

/*---------footer---------*/
footer{
   background-color:#333;
    color: #fff;
    text-align: center;
    padding: 10px;
    max-width: 100%;
}

.social-links {
  margin-top: 20px;

}
.social-links a {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  text-decoration:none;
  ;
  
 }

.social-links a:hover {
  color: #007bff;
}