
body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
min-height: 100vh;
  display: flex;
  flex-direction: column
}

header {
    background: color #1a1a1a;
    padding: 20px;
    text-align: center;
}

.featured-sneaker {
display: flex;
justify-content: center;
align-items: center;
padding-bottom:  15px;
background-color: #fff;
}

.featured-sneaker img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}

.sneaker-details {
    max-width: 40%;
}

h1,h2 {
    color: #333;
} 

p {
color: #666;
}

.cta-button {

    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
/*---------home.html----------*/
header{
  color: #fff;
  padding: 20px;
  text-align: center;
}
.featured-sneaker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom:  15px;
  background-color: #fff;
  }
  
  .featured-sneaker img {
      max-width: 50%;
      height: auto;
      margin-right: 20px;
  }
  
  .sneaker-details {
      max-width: 40%;
  }
  
  h1,h2 {
      color: #333;
  } 
  
  p {
  color: #666;
  }
  

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li{
  float: left;
}

.navbar li a {
display: block;
color: #fff;
text-align: center;
padding: 14px 16px;
text-decoration: none;

}


/*-------about.html-------*/
header{
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

header h1{
  margin: 0;
}
.about-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #f4f4f4;
}
.about text, .about-image{
  flex: 1;
  margin: 10px;
}
.about-text{
  max-width: 600px;
}
.about-image {
  max-width:20;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/*-----signup.html------*/
.form {
   text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .btn {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color:#fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .btn:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

/*------Shop.html-------*/
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li{
    float: left;
}

.navbar li a {
display: block;
color: #fff;
text-align: center;
padding: 14px 16px;
text-decoration: none;

}
/*Hover effect*/
.navbar li a :hover{
    color:#007bff;
}
.active {
    background-color: #007bff;
}
h2{
    text-align: center;
}
.product {
    margin-bottom: 20px;
    text-align: center;
   }

   .product img{
    width: 50%;
    height: auto;
   }

   .add-to-cart-btn {
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   }

   .add-to-cart-btn:hover {
    background-color: #0056b3;
}

     /*Contact form styles*/
     .contact-form {
        padding: 40px;
        background-color: #fff;
        align-items: center;
    }
  
    .contact-form h2{
        color: #333;
        margin-bottom: 20px;
    }
    .contact-form form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-form label {
        color: #333;
        font-weight: bold;
    
    }
    .contact-form input, 
    .contact-form textarea {
        width: 100%;
        padding: 10px;
        margin: 8 px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

    }

    .contact-form button{
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .contact-form button:hover {
        background-color: #0056b3;
    }
    /*Map Section*/
    .map {
        padding: 50px;
        background-color: #f4f4f4;
        text-align: center;
    }
    .map h2{
        color: #333;
        margin-bottom: 20px;
    }

    .map iframe {
        width: 100%;
        max-width: 800px;
        height: 450px;
        border: 0;
        margin: 0 auto;
        display: block;
    }
    
 
/*Responsive design */

@media (max-width:768px) {
.featured-sneaker{
    flex-direction: column;
    text-align: center;

    }


.featured-sneaker img {
    max-width: 80%;
    margin-bottom: 20px;
}

.sneaker-details{
    max-width: 80%;
}

}

/*---------footer---------*/
footer{
   background-color:#333;
    color: #fff;
    text-align: center;
    margin-top: auto;
    text-align: center;
  padding: 5px;
}

.social-links {
  margin-top: 20px;
}
.social-links a {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  text-decoration:none;
  
 }

.social-links a:hover {
  color: #007bff;
}