
body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;

}

header {
    background: color #1a1a1a;
    padding: 20px;
    text-align: center;
}

.featured-sneaker {
display: flex;
justify-content: center;
align-items: center;
padding-bottom:  15px;
background-color: #fff;
}

.featured-sneaker img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}

.sneaker-details {
    max-width: 40%;
}

h1,h2 {
    color: #333;
} 

p {
color: #666;
}

.cta-button {

    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
/*-----signup.html------*/
.signup-container{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

form#signup-form{
    display: flex;
    flex-direction: column;
}
.button-group{
    display:flex;
    margin:0;
}

.form-group{
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    color: #1a1a1a;
}
.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.button{
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button :hover {
    background-color: #007bff;
}
/*------Shop.html-------*/
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li{
    float: left;
}

.navbar li a {
display: block;
color: #fff;
text-align: center;
padding: 14px 16px;
text-decoration: none;

}
/*Hover effect*/
.navbar li a :hover{
    color:#007bff;
}
.active {
    background-color: #007bff;
}
h2{
    text-align: center;
}
.product {
    margin-bottom: 20px;
    text-align: center;
   }

   .product img{
    width: 50%;
    height: auto;
   }

   .add-to-cart-btn {
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   }

   .add-to-cart-btn:hover {
    background-color: #0056b3;}
 
/*Responsive design */

@media (max-width:768px) {
.featured-sneaker{
    flex-direction: column;
    text-align: center;

    }


.featured-sneaker img {
    max-width: 80%;
    margin-bottom: 20px;
}

.sneaker-details{
    max-width: 80%;
}

}
.social-links {
    margin-top: 20px;
}
.social-links a {
    display: inline-block;
    margin-right: 20px;
    color: #fff;
    text-decoration:none;
    
   }

.social-links a:hover {
    color: #007bff;
}

footer{
        background-color:#333;
    color: #fff;
    text-align: center;
    padding: 10px;
}